@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
 *{
    font-family: 'Roboto', sans-serif;
 }

 header{
    margin-top: 3em;
}

 .navbar-nav{
    height: 80px;
    width: 100%;
    background-color: #0298d5;
    position: fixed;
    margin-top: -3em;
    z-index: 2;
}

.navbar-nav__a{
    width: 50%;
    margin-top: 500px;
}
.navbar-nav__a-img{
    width: 50px;
    margin-top: 10px;
    margin-left: 12px;
}

.navbar-nav .navbar-nav__ul{
    list-style: none;
    float: right;
}

.navbar-nav .navbar-nav__ul li{
    display: inline-block;
    line-height: 80px;
    margin:  0 5px;
}

.navbar-nav .navbar-nav__ul li a{
    color: white;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
}

.navbar-nav .navbar-nav__ul li a:hover{
    background-color: #6d3c02;
    color: #ffffff;
    transition: .5;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display:none ;
}

body{
   background:  rgb(255, 255, 255);
}
 h1 {
    font-weight: bold;
 }

 p{
    font-size: 20px;
 }
 /* COLORES */
hr{
    background: #ffffff;
}
 .white{
    color: white;
 }

.banner{
    background-image: url("../assets/img/Captura.PNG");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    position: relative;
    z-index: 1;
}

.ayuda-section{
    margin: 2% 10%;
}
.ayuda-section__h1{
    text-align: center;
    text-transform: uppercase;
    color: #6d3c02;
}
.ayuda-section__p{
    margin-left: 35%;
    margin-right: 35%;
    font-size: 25px;
    text-align: center;
}
.ayuda-section__row{
    display: flex;
}

.card-div{
    margin-top: 50px;
    background: #0298d5;
    border-radius: 5px;
    width: 30%;
    height: 180px;
    margin-right: 20px;
}

.card-div h1{
    text-align: center;
    text-transform: uppercase;
    color: #d5d80d;
}
.card-div p{
    margin-top: 10px;
    text-align: center;
    color: white;
}


.Mision_y_vision-section{
    margin: 2% 10%;
}
.Mision_y_vision-section__h1{
    text-align: center;
    color: #6d3c02;
    font-size: 2em;
    text-transform:  uppercase;
}

.Mision_y_vision-section_row{
    display: flex;
}

.card{
    border-radius: 5px;
    width: 50%;
    height: 350px;
    margin-right: 20px;
}
.card h1{
    text-align: center;
}
.card p{
    margin: 2%;
}
.card-Mision{
    border: 1px solid #6d3c02;
    box-shadow: 15px 10px 25px rgba(0,0,0,0.6);
}
.card-Vision{
    border: 1px solid #0298d5;
    box-shadow: 15px 10px 25px rgba(0,0,0,0.6);
}

.card-Mision h1{
    color:#0298d5 ;
}

.card-Vision h1{
    color: #6d3c02;
}

.proyectos-section{
    margin: 2% 2%;
}

.proyectos-section__h1{
    text-align: center;
    color: #6d3c02;
    font-size: 2em;
    text-transform:  uppercase;
}
.proyectos-section__row{
    display: flex;
}
.container{
    margin-right: 10px;
    position: relative;
}
.overlay {
    position: absolute; /* Se superpone en relación con el contenedor */
    top: 0;
    left: 0;
    width: 100%; /* Toma el ancho completo del contenedor */
    height: 100%; /* Toma la altura completa del contenedor */
    background-color: #0db6b4; /* Fondo semitransparente (negro en este caso) */
    opacity: 0; /* Se puede cambiar para ajustar la transparencia */
    transition: opacity 0.3s ease; /* Agrega una transición suave para el efecto fade */
  }

  .container:hover .overlay {
    opacity: 1; /* Hacer visible el overlay cuando el mouse está sobre el contenedor */
  }

  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
  }

.footer{
    background: #0298d5;
}
.footer h2{
    text-align: center;
    color: white;
}

@media screen and (max-width:1669px)  {
    .proyectos-section__row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .proyectos-section__row img{
        width: 100%;
    }
}
@media screen and (max-width:1183px)  {

    .ayuda-section{
        margin: 2% 2%;
    }
    .Mision_y_vision-section_row{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1 1fr);
    }
    .card{
        width: 100%;
    }
}
@media screen and (max-width:937px) {
    .checkbtn{
        display: block;
    }

    .navbar-nav__ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #061d49;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navbar-nav .navbar-nav__ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked  ~ .navbar-nav__ul{
        left: 0;
    }

    .ayuda-section__row{
        display: grid;
        grid-template-columns: repeat(2 1fr);
        
        align-items: center;
        align-self: center;
    }
    .ayuda-section__p{
        margin-left: 15%;
        margin-right: 15%;
        font-size: 25px;
        text-align: center;
    }   
    .card-div{
        width: 100%;
        height: 200px;
    }
    .card-div p{
        font-size: 2em;
    }
    .proyectos-section__row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .overlay-content{
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 1em; 
    }
}
