@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
 *{
    font-family: 'Roboto', sans-serif;
 }
body{
   background:  rgb(255, 255, 255);
}
 h1 {
    font-weight: bold;
 }

 p{
    font-size: 20px;
 }
 /* COLORES */
hr{
    background: #ffffff;
}
 .white{
    color: white;
 }
.banner{
    background-image: url("../assets/img/Captura.PNG");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    position: relative;
    z-index: 1;
}
.a{
   color: rgb(0, 54, 178)
}
.b{
    color:rgb(109, 60, 2)
}
.d{
    color: rgb(255, 198, 91)
}
.navbar{
    background: rgb(51, 105, 230);
}

.h{
    background: #020469;
}
.donacion{
    margin: 0;
}

.text-ayudar{
    margin-left: 35%;
    margin-right: 35%;
    font-size: 25px;
}

.carta{
    box-shadow:  5px 5px 20px rgba(0,0,0,0.4);
    background: transparent;
    border:  1px solid rgb(0, 54, 178);
    background: transparent;
}
.carta:hover{
    box-shadow:  10px 10px 25px rgba(0,0,0,0.6);
}



 .miniCard{
    box-shadow:  10px 10px 25px rgba(0,0,0,0.6);
}

.footer{
    background: rgb(0, 54, 178);
}




@media screen and (max-width:900px)  {
    .text-ayudar{ 
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media screen and (max-width:912px)  {
    h1{
        font-size: 45px;
    }
    p{
        font-size: 30px;
    }
}
@media screen and (max-width:820px) {
    h1{
        font-size: 45px;
    }
    p{
        font-size: 30px;
    }
}
@media screen and (max-width:800px) {
    h1{
        font-size: 45px;
    }
    p{
        font-size: 30px;
     }
}
@media screen and (max-width:712px) {
    h1{
        font-size: 45px;
    }
    p{
        font-size: 30px;
     }
}

@media screen and (max-width:600px) {
    h1{
        font-size: 45px;
    }
    p{
        font-size: 30px;
     }
}